@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
* {
  padding: 0px;
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(154, 184, 211);
  background-size: cover;
}

header {
  display: flex;
  align-items: center;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* tire do comentario se quiser a cor de fundo sempre ativa(removendo as barras e o asterisco do inicio e do fim)*/
  /* background-color: rgb(4, 199, 137); */
  backdrop-filter: blur(5px);
  background-color: rgb(135, 173, 206);

  margin: auto;
  height: fit-content;

  padding: 15px;

  color: rgb(20, 20, 20);

  transition: all 1s;

  position: sticky;
  top: 0;

  z-index: 1;
}

/* remova se não gostou do efeito de hover(passar o mouse em cima)*/
header .texto {
  opacity: 0;
  transition: all 1s;
}

/* remova se não gostou do efeito de hover(passar o mouse em cima)*/
header:hover {
  background-color: rgb(112, 148, 179);
}

/* remova se não gostou do efeito de hover(passar o mouse em cima)*/
header:hover .texto {
  opacity: 1;
  transition: all 1s;
}

.texto {
  margin-left: auto;
}

.imgSF {
  max-width: 70px;

  margin: 0px;
  padding: 0px;
}

header h1 {
  margin: 0px;
  padding: 0px;
}

.projetos {
  display: flex;
  flex-flow: row;
}

.projetos img {
  max-width: 360px;

  float: left;

  margin: 20px;
}
.bt1 {
  margin: 5px;
  font-size: 16px;
  padding: 10px;
  background-color: #3b73b3;
  text-align: center;
  border-radius: 15px;
  border-color: antiquewhite;
  cursor: pointer;
}
.bt2 {
  margin: 5px;
  font-size: 16px;
  padding: 10px;
  background-color: #3b73b3;
  text-align: center;
  border-radius: 15px;
  border-color: antiquewhite;
  cursor: pointer;
}

.msg {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.textbutton {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: azure;
}
.bode {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: 9;
  color: rgb(0, 0, 0);
  position: -ms-page;
  align-items: center;
  background-color: #6882a5;
  border-radius: 15px;
  height: 100px;
  width: 800px;
  text-align: center;

  padding: 6px;
}
.titu {
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.titulo {
  text-align: center;
}

.card{
  
  color: rgb(0, 0, 0);
  height: 270px;
  max-width: 400px;

  display: flex;
  flex-flow: row;

  background-color: white;
  border-radius: 15px;
}

.card-text {
 
  background-color: #3b73b3;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;;
  padding: 8px;

  width: 200px;
}

.card-text p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-img-box{
  
}
.card img{
  max-height: 270px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
  aspect-ratio: none; /* impede que a imagem fique ajustando a altura mesmo quando so mexemos com a largua.*/

  width: 200px;
}

.logoJB-cards{
  height: 50px;
  width: 50px;
}

.informações { 
 
  display: flex;
  flex-flow: row;
  width: fit-content;
  gap: 12px;

  margin: auto;
}

/*
quando eu tenho mais de um elemento no meu html que compartilham da mesma classe, e eu quero manipular somente 1
deles, eu devo chamar a propriedade nth-child(), e dentro do parenteses, eu devo colocar o numero do elemento, se
ele for o primeiro, eu coloco nth:child(1), se for o segundo nth:child(2) e assim por diante.

para chamar essa propriedade, voce deve colocar : logo apos a sua tag:

.card:nth-child(2) 

-> .card - chamando todos os elementos que possuam a tag card
-> :nth-child(2) - estou filtrando a busca para somente o segundo elemento que possuir a tag card.

apos isso, dentro do elemento que chamei, eu tenho dois outros, que compartilham da mesma tag, e eu estou com pregui
ça de criar uma classe somente para diferenciá-los, então eu apenas coloco o nome da tag, e uso o :nth-child() para
chamar especificamente o elemento que eu quero:

.card:nth-child(2) img:nth-child(1)
*/
.card:nth-child(1) img:nth-child(1){
  height: 270px;
}

.espaços {
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.textinhos{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: 9;
  color: rgb(0, 0, 0);

}
.textinhos:nth-child(1){
  font-size: 128px;
}  

